/* Large portion of code is adopted from YouTube Tutorial by James Q Quick https://www.youtube.com/watch?v=E621N5GBKv8 */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Patrick+Hand&display=swap');

:root {
    --gray: #636e72;
    /* using css variables for repetive use of same color with calling name instead of hex value*/
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    /* width and heigth for elements will include border and padding */
}

body {
    color: var(--gray);
    font-family: 'Patrick Hand', sans-serif;
    background: url("../images/background.webp");
    background-size: cover;
}

/* #total-wrapper {
    height: 100vh;
    border: 1px solid red;
    background: url("../images/background.webp");
    background-size: cover;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.game-wrapper {
    background: url(../images/background-board.png);
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 65px;
    z-index: 0;
    width: 800px;
    max-width: 90%;
    height: 1100px;
}

/* HEADING */
#heading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 12vh; */
    margin-top: 20px;
    /* border: 1px solid blue; */
}

h1 {
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 54px;
    padding-top: 30px;
}

#help-button {
    cursor: pointer;
    margin-bottom: 45px;
    margin-left: 10px;
    color: var(--gray);
    font-family: 'Patrick Hand', sans-serif;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 25px;
}

/* Modal popup styling come from YouTube tutorial: https://www.youtube.com/watch?v=MBaw_6cPmAw */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    /* scale(0) sets modal to invisible */
    transition: 200ms ease-in-out;
    /* gradually apears/disapears over set time frame */
    border: 1px solid black;
    border-radius: 10px;
    z-index: 15;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
    /* sets modal to be visible when active */
    z-index: 10;
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    /* if overlay is invisible, it will remove the option to capture any click events */
}

/* When overlay is active, we set opacity to be visible and pointer-events to capture events to disallow for button clicks */
#overlay.active {
    opacity: 1;
    pointer-events: all;
    z-index: 1;
}

/* PLAYER INFORMATION */
.player-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 30px;
    margin-right: 40px;
}

.player-turn {
    padding: 0 30px;
}


/* GAME CONTROLS SECTION */
#game-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-right: 20px;
    margin-top: 20px;
}

.game-control {
    margin: 0 10px;
    font-size: 24px;
    color: var(--gray);
}

#volume {
    cursor: pointer;
    padding: 10px;
    background: none;
}

/* GAMEBOARD SECTION */
.board-container {
    margin: 30px 40px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* elements on top of each other */

}

#board {
    width: 450px;
    display: flex;
    /* default flex stacking direction is in a row */
    flex-wrap: wrap;
    /* if elements in a row reaches 450px it will transfer on the bottom  */
}

.field {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray);
    font-size: 70px;
    /* border: 1px solid red; */
}

/* START/RESET BUTTONS */
#button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

#button-wrapper button {
    cursor: pointer;
    margin: 30px 40px 0;
    color: var(--gray);
    font-family: 'Patrick Hand', sans-serif;
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 18%;
}

/* SCORES AREA */
/* All 'score' elements copied and modified from Code Institute 'Love Maths' project */
.score-area {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.players {
    padding: 25px;
}

.player-x {
    color: green;
    font-weight: bold;
}

.player-o {
    color: red;
    font-weight: bold;
}

/* RESPONSIVNESS */

@media screen and (max-height: 850px) and (max-width: 420px) {

    .game-wrapper {
        padding: 0;
    }
}

@media screen and (max-width: 700px) {

    h1 {
        font-size: 48px;
    }

    /* .game-wrapper {
        background: white;
    } */

    #heading-wrapper {
        margin-top: 20px;
    }


}

@media screen and (max-height: 1100px) {
    .game-wrapper {
        padding: px;
    }
}

@media screen and (max-width: 480px),
screen and (max-height: 600px) {

    h1 {
        font-size: 24px;
    }

    #heading-wrapper {
        margin-top: 15px;
    }

    #help-button {
        margin-bottom: 0;
        width: 25px;
        height: 25px;
        font-size: 18px;
    }

    .game-wrapper {
        max-width: 97%;
        max-height: 95%;
        padding: 0;
        height: 600px;
    }

    #game-controls {
        margin-right: 0;
        margin-top: 0;
        font-size: 20px;
    }

    .player-info {
        height: 25px;
        margin-right: 0;
    }

    .player-turn {
        margin-right: 0;
        margin-top: 0;
        font-size: 20px;
    }

    .game-control {
        font-size: 20px;
    }

    .board-container {
        margin: 10px 30px;
    }

    #board {
        width: 240px;
    }

    .field {
        height: 80px;
        width: 80px;
    }

    .score-area {
        font-size: 1.1rem;
        margin-right: 0;
    }

    .players {
        padding: 10px 20px;
    }

    .player-info p {
        font-size: 18px;
    }

    #button-wrapper {
        margin-right: 0;
    }

    #button-wrapper button {
        margin: 10px 25px 0;
        font-size: 20px;
        padding: 5px 20px;
    }
}