/* Large portion of code is adopted from YouTube Tutorial by James Q Quick https://www.youtube.com/watch?v=E621N5GBKv8 */

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Patrick+Hand&display=swap');

/* Using css variables for repetive use of same color with calling name instead of hex value*/
:root {
    --main-color: #422800;
}
 /* Sets default sizing of the web browser window */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    /* width and heigth for elements will include border and padding */
}

/* Body elemnent basic styling */
body {
    color: var(--main-color);
    font-family: 'Patrick Hand', sans-serif;
    background: url("../images/background.webp");
    background-size: cover;
}


/* OUTER WRAPPERS */

#position-wrapper {
    /* border: 2px solid blue; */
    
    /* Modern vertical and horizontal centering with flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-wrapper {
    background: url(../images/background-board.png);
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* Elements stocked one on another in column form (default flex is row direction) */
    flex-direction: column;
    
    height: 1100px;
    width: 800px;

    max-height: 95%;
    max-width: 90%;
    
    margin: auto;
    padding: 65px;
    z-index: 0;
    
    /* border: 2px solid red; */
}

/* HEADING */
#heading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* border: 1px solid green; */
}

h1 {
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 54px;
}

hr {
    border-top: 1px solid var(--main-color);
    margin-bottom: 5px;
    width: 80%;
    max-width: 600px;
    margin-right: 30px;
}

#help-button {
    cursor: pointer;
    margin-bottom: 5px;
    margin-left: 25px;
    color: var(--main-color);
    font-family: 'Patrick Hand', sans-serif;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    background-color: transparent;
    border: 2px solid #422800;
    font-weight: 600;
}

#help-button:hover {
    color: orange;
    border: 2px solid orange;
}

/* INSTRUCTIONS POP-UP */

/* Modal popup styling come from YouTube tutorial: https://www.youtube.com/watch?v=MBaw_6cPmAw */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    
    /* scale(0) sets modal to invisible */
    transform: translate(-50%, -50%) scale(0);
    
    /* Gradually apears/disapears over set time frame */
    transition: 200ms ease-in-out;
    
    /* Border: 1px solid black; */
    border-radius: 10px;
    z-index: 15;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
    /* Sets modal to be visible when active */
    z-index: 10;
    text-align: justify;
    max-height: 90%;
    font-size: 1.4rem;
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.4rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    
    /* If overlay is invisible, it will remove the option to capture any click events */
    pointer-events: none;
}

/* When overlay is active, we set opacity to be visible and pointer-events to capture events to disallow for button clicks */
#overlay.active {
    opacity: 1;
    pointer-events: all;
    z-index: 1;
}

/* PLAYER INFORMATIONS */

.player-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 30px;
    margin-right: 40px;
    /* border: 2px solid purple; */
}

.player-turn {
    padding: 0 30px;
}


/* GAME-CONTROLS SECTION */

#game-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 20px;
    /* border: 2px solid bisque; */
}

.game-control {
    margin: 0 25px;
    font-size: 30px;
    color: var(--main-color);
}

#volume {
    cursor: pointer;
    padding: 10px;
    background: none;
}

#volume:hover {
    color: orange;
}

/* GAMEBOARD SECTION */

.board-container {
    margin: 30px 40px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* elements on top of each other */
    /* border: 2px solid brown; */
}

#board {
    width: 450px;
    display: flex;
    /* default flex stacking direction is in a row */
    flex-wrap: wrap;
    /* if elements in a row reaches 450px it will transfer on the bottom  */
}

.field {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: 120px;
}

/* START/RESET BUTTONS */

#button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    /* border: 2px solid gray; */
}

/* Buttons styling come from - https://getcssscan.com/css-buttons-examples */
#button-wrapper button {
    margin: 30px 40px 0;
    font-family: 'Patrick Hand', sans-serif;
    background-color: #fbeee0;
    /* border: 2px solid #422800; */
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 26px;
    padding: 0 30px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#button-wrapper button:hover {
    background-color: #fff;
}

#button-wrapper button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

/* SCORES AREA */

/* All 'score' elements copied and modified from Code Institute 'Love Maths' project */
.score-area {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    /* border: 2px solid red; */
}

.players {
    padding: 25px;
}

.player-x {
    color: green;
    font-weight: bold;
}

.player-o {
    color: red;
    font-weight: bold;
}

/* RESPONSIVENESS */


/* Tablets and medium-size screens */
@media screen and (max-width: 680px) {

    h1 {
        font-size: 42px;
    }

    .game-control {
        font-size: 28px;
    }

    #game-controls {
        margin-top: 10px;
    }

    .player-info {
        height: 35px;
    }

    .board-container {
        margin: 15px;
    }

    .players {
        padding: 15px 15px;
    }

    .player-turn {
        padding: 10px 20px;
    }

    .score-area {
        font-size: 1.4rem;
        margin-right: 10px;
    }

    #button-wrapper {
        margin-right: 10px;
    }

    #button-wrapper button {
        margin: 20px 30px 0;
    }
}

/* Smartphones and small-size screens */
@media screen and (max-width: 570px) {


    #position-wrapper {
        height: 100vh;
    }

    h1 {
        font-size: 28px;
        padding-top: 15px;
    }

    hr {
        margin-right: 0;
    }

    .game-wrapper {
        padding: 5px;
    }

    .game-control {
        font-size: 20px;
        margin: 0 10px;
    }

    .player-info {
        font-size: 18px;
        height: 25px;
        margin-right: 0;
    }

    .modal.active {
        font-size: 0.9rem;
        overflow: scroll;
    }

    .modal-header .title {
        font-size: 0.9rem;
    }

    #game-controls {
        margin-top: 0;
    }

    #board {
        width: 240px;
    }

    .field {
        width: 80px;
        height: 80px;
        font-size: 60px;
    }

    #help-button {
        margin-bottom: 5px;
        width: 30px;
        height: 30px;
        font-size: 20px;
    }

    #button-wrapper button {
        line-height: 30px;
        font-size: 18px;
        padding: 0px 15px;
        margin: 10px 20px 0;
    }

    .score-area {
        font-size: 1.1rem;
        margin-right: 0px;
    }

    .players {
        padding: 10px 15px;
    }

    .board-container {
        margin: 10px;
    }

}

/* Adjust the game-wrapper for certain models of smatphones */
@media screen and (min-height: 650px) {
    .game-wrapper {
        max-height: 80%;
    }
}

/* Desktop screens */
@media screen and (min-height: 1000px) {

    #position-wrapper {
        height: 100vh;
    }

    .game-wrapper {
        max-height: 95%;
    }

}